<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 15.11.2020, 17:00</p>
            <h2><a href="">My first post</a></h2>
            <p>The team of Keanu Reeves' upcoming film 'The Matrix 4' reportedly hosted a wrap party with around 200 people in attendance, which is prevented by the country's government currently owing to the COVID-19 pandemic. Reacting to the reports, the spokeswoman of the film's studio stated that the team was shooting a celebration scene and assured that they followed hygiene regulations.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Australia's achievement in controlling the spread of COVID-19 while cases rise in many parts of the world is making the country a "victim" of its own success as Australians overseas want to come home, Education Minister Dan Tehan said. Meanwhile, Australian Prime Minister Scott Morrison said that there are not enough quarantine facilities for others, such as international students.</p>
        </div>
    </body>
</html>